


.boxed_cmd {
    border: 15px solid lightsteelblue;
    background-color: whitesmoke;
    color: black;
    padding: 15px;
    margin: 20px;
}


.square_color {
  border: 1px solid red;
  }

ul.tree, ul.tree ul {
list-style: none;
 margin: 0;
 padding: 0;
}
ul.tree ul {
 margin-left: 10px;
}
ul.tree li {
 margin: 0;
 padding: 0 7px;
 line-height: 20px;
 color: #369;
 font-weight: bold;
 border-left:1px solid rgb(100, 100, 100);

}
ul.tree li:last-child {
   border-left:none;
}
ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  border-bottom:1px solid rgb(100,100,100);
  content:"";
  display:inline-block;
  left:-7px;
}
ul.tree li:last-child:before {
  border-left:1px solid rgb(100,100,100);
}

.value {
 margin: 0;
 padding: 0 7px;
 line-height: 20px;
 color: #369;
 font-weight: bold;
 border-left:1px solid rgb(100, 100, 100);
}

.floatleft{
    float:left;
    margin-left:10px;
    margin-right:10px;
    height: 25px;
    width: 25px;
    cursor: pointer;

}

.networktext {
  font-size: 20px;
  padding-left: 20px;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}