
 /* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables */

table {
  table-layout: auto;
  width: auto;
  border-collapse: collapse;
  /* border: 3px solid purple; */
  border: 3pt ridge lightgrey
}


tr:hover {
    background-color: #908686;
}


thead tr{
    /*background-color: #1c1b1b; */
    /*    color: white; */
    background-color: rgba(28, 27, 27, 0.16);
    color: darkgreen;
    font-weight: bold;
}

tbody tr{
    /*background-color: #1c1b1b; */
    /*color: lawngreen; */
  background-color: white;
  color: black;
}
.alert {
    background-color: #d53d31;
    color: white;
    font-weight: bold;
}

.warning {
    /*background-color: #fa8505;*/
    background-color: #929385;
    color: white;
    font-weight: bold;
}


th, td {
  padding: 20px;
}
