
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>User Registration Form</title>
  </head>
  <body>

  <form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p }}


    <br/>
    <div align="justified">
      <button type="button" class="">Get Node Status</button>
      <button type="button" class="">Get Event Log</button>
      <button type="button" class="">Get Error Log</button>
      <button type="button" class="">Set Rest Log On/Off</button>
      <button type="button" class="">Get REST Log</button>
      <button type="button" class="">Get Last REST Requests</button>
    </div>
    <br/>
    <div align="justified">
      <button type="button" class="" name="1">Get Query Status</button>
      <button type="button" class="">Get Last Query Status</button>
      <button type="button" class="">Get Streaming</button>
      <button type="button" class="">Get Operator</button>
      <button type="button" class="">Get Publisher</button>
      <button type="button" class="">Get Rows Count</button>
      <button type="button" class="">Get Rows Count by Table</button>
      <input type="checkbox" class="">Network</input>
    </div>
    <br/>
    <button type="submit" class="save btn btn-default">Submit</button>

    {% if node_reply %}
    <p>
        {{ node_reply }}<br>
    </p>

   {% endif %}

  </form>

  </body>

</html>
