
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>User Registration Form</title>

      <style>
        input[type=button], input[type=submit], input[type=reset] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        }
      </style>

  </head>
  <body>

  <form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p }}

      <br/>  <br/>  <br/> <br/>

    <select id="post">
    <option value="get">&nbsp;GET</option>
    <option selected value="post">&nbsp;POST</option>
    </select>

    &nbsp; &nbsp;

    <label for="connect_info">Connect info:</label>
    <input type="text" id="connect_info" name="connect_info" value="127.0.0.1:2049">

    &nbsp; &nbsp;

    <label for="auth_usr">Auth user:</label>
    <input type="text" id="auth_usr" name="auth_usr">

    &nbsp; &nbsp;

    <label for="auth_pass">Auth password:</label>
    <input type="text" id="auth_pass" name="auth_usr">

    <br/>
    <br/>
    <br/>

    <input type ="submit" name = "Send" value="Send" style="font-face: 'Comic Sans MS'; color: whitesmoke; background-color: gray; border: 3pt ridge lightgrey" />

    &nbsp; &nbsp;

    <label for="network">Network</label>
    {% if query %}
        <input type="checkbox" id="network" name="network" checked>
    {% else %}
        <input type="checkbox" id="network" name="network">
    {% endif %}


     &nbsp; &nbsp;

    <label for="cmd">Command:&nbsp;</label>


    {% if command %}
        <input type="text" id="cmd" name="cmd" value="{{command}}" size="150">
    {% else %}
        <input type="text" id="cmd" name="cmd" size="150">
    {% endif %}


    <br/> <br/> <br/>

    {% for entry in commands_list %}
        <input type ="submit" name = "button" value="{{entry.button}}"/>
    {% endfor %}

    <br/>



    {% if node_reply %}
    <p>
        {{ node_reply }}<br>
    </p>

   {% endif %}

  </form>

  </body>

</html>
