
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'css/anylog-logo.ico' %}">
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>AnyLog</title>

      <style>
        input[type=button], input[type=submit], input[type=reset] {
        background-color: lightslategray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        }
      </style>

  </head>
  <body>



  <form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p }}

    {% load static %} <img src="{% static "css/anylog-logo.ico" %}" alt="AnyLog Network" onclick="window.location.href='https://anylog.co/'" class="floatleft"/>

    <div class="networktext">
    <text style="float: left">AnyLog Network Client</text>
    </div>

   <input type ="submit" name = "dummy" id="dummy" value="dummy" style="background:transparent; border:none; color:transparent; height:1px; width:1px" />

  <!input type ="submit" name = "Config" id="Config" value="Config" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Setting" id="Setting" value="Setting" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Code" id="Code" value="Code" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Monitor" id="Monitor" value="Monitor" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Blobs" id="Blobs" value="Blobs" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />

  <input type="hidden" id="Form" name="Form" value="Client">
  <input type="hidden" id="m_connect_info" name="m_connect_info" value="{{m_connect_info}}">

    <br/> <br/> <br/>

    <select id="rest_call" name="rest_call">


    {% if rest_call %}
        <option selected value="get">&nbsp;GET</option>
    {% else %}
        <option value="get">&nbsp;GET</option>
    {% endif %}
    {% if rest_call %}
        <option  value="post">&nbsp;POST</option>
    {% else %}
        <option selected value="post">&nbsp;POST</option>
    {% endif %}

    </select>

    &nbsp; &nbsp;

    <label for="connect_info">Connect info:</label>
    {% if connect_info %}
        <input type="text" id="connect_info" name="connect_info" value="{{connect_info}}">
    {% else %}
        <input type="text" id="connect_info" name="connect_info">
    {% endif %}

    &nbsp; &nbsp;

    <label for="auth_usr">Auth user:</label>
    <input type="text" id="auth_usr" name="auth_usr">

    &nbsp; &nbsp;

    <label for="auth_pass">Auth password:</label>
    <input type="password" id="auth_pass" name="auth_pass">

    &nbsp; &nbsp;

    <text>Options:</text>

    <!-- Print the options for buttons types: Logs, Queries, Blockchain etc.  -->

    <select id="cmd_type" name="cmd_type" onchange="this.form.submit();">

    {% for entry in commands_groups %}
         {% if entry == cmd_type %}
            <option selected value={{ entry }}>&nbsp;{{ entry }}</option>
        {% else %}
            <option value={{ entry }}>&nbsp;{{ entry }}</option>
        {% endif %}

    {%  endfor %}

     </select>

   &nbsp;
   &nbsp;

   <label for="subset">Subset:</label>

    {% if subset %}
        <input type="checkbox" id="subset" name="subset" checked>
    {% else %}
        <input type="checkbox" id="subset" name="subset">
    {% endif %}

   &nbsp;
   &nbsp;

    <label for="timeout">Timeout:</label>
    {% if timeout %}
        <input type="text" id="timeout" name="timeout" value="{{timeout}}"  size="2">
    {% else %}
        <input type="text" id="timeout" name="timeout" size="2">
    {% endif %}


    &nbsp; &nbsp;
    <label for="help">Help:</label>

    {% if help %}
        <input type="checkbox" id="help" name="help" checked>
    {% else %}
        <input type="checkbox" id="help" name="help">
    {% endif %}


    <br/> <br/> <br/>

    <label for="dbms">DBMS:</label>

    {% if dbms %}
        <input type="text" id="dbms" name="dbms" value="{{dbms}}">
    {% else %}
        <input type="text" id="dbms" name="dbms">
    {% endif %}

     &nbsp; &nbsp;

    <label for="table">Table:</label>

    {% if table %}
        <input type="text" id="table" name="table" value="{{table}}">
    {% else %}
        <input type="text" id="table" name="table">
    {% endif %}

       &nbsp; &nbsp;

    <label for="timezone">Timezone:</label>

    {% if timezone %}
        <input type="text" id="timezone" name="timezone" value="{{timezone}}" size="4">
    {% else %}
        <input type="text" id="timezone" name="timezone" size="4">
    {% endif %}


    &nbsp; &nbsp;

    <text>Format:</text>
    &nbsp;

    <select id="out_format" name="out_format">

    {% if out_format  %}
        <option selected value="table">&nbsp;TABLE</option>
    {% else %}
        <option value="table">&nbsp;TABLE</option>
    {% endif %}
    {% if out_format %}
        <option  value="json">&nbsp;JSON</option>
    {% else %}
        <option selected value="json">&nbsp;JSON</option>
    {% endif %}

    </select>

    &nbsp; &nbsp;

    <label for="network">Network:</label>

    {% if network %}
        <input type="checkbox" id="network" name="network" checked>
    {% else %}
        <input type="checkbox" id="network" name="network">
    {% endif %}

     &nbsp;

     <label for="destination">Nodes:</label>
    {% if destination %}
        <input type="text" id="destination" name="destination" value="{{destination}}"  size="60">
    {% else %}
        <input type="text" id="destination" name="destination" size="60">
    {% endif %}


    <br/> <br/> <br/>

    <input type ="submit" name = "Send" id="Send" value="Send"  onclick="spin1();" style="font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey"/>

     &nbsp; &nbsp;

    <label for="command">Command:</label>

    {% if command %}
        <input type="text" id="command" name="command" value="{{command}}" size="166" onkeypress="disableEnter()" >
    {% else %}
        <input type="text" id="command" name="command" size="166">
    {% endif %}


    <br/> <br/> <br/>

    <!-- Print the buttons that satisfy the selected cmd_type  -->

    {% for entry in commands_list %}
        {% if cmd_type == "All" %}
            <input type ="submit" name = "button" value="{{entry.button}}"/>
        {% elif cmd_type == entry.group %}
            <input type ="submit" name = "button" value="{{entry.button}}"/>
        {%  endif %}
    {% endfor %}

    <br/>



    {% if node_reply %}
    <p>
        {{ node_reply }}<br>
    </p>

   {% elif help_url %}
   <p>
    <br/>
       <text>Help Link: </text>
       <a href="{{help_url}}">{{help_url}}</a>
   </p>
   {% endif %}

   {% block content %} {% endblock content %} <!-- Extended by other html like output tree  -->


  </form>

  <script>
    	function spin1()
        {
            document.getElementById("Send").style.color = "black";
            document.getElementById("Send").value = "Processing ...";
            document.getElementById("Send").style.border = "";
            document.getElementById("Send").style.backgroundColor = "transparent";
            document.getElementById("Send").style.animation = "blink 2s infinite alternate";
        }
  </script>



  </body>

</html>
