
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>User Registration Form</title>
  </head>
  <body>

  <form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p }}


    <br/>

    {% for entry in commands_list %}
        <input type ="submit" name = "command" value={{entry.button}} />
    {% endfor %}


    <input type ="reset" value="Reset" />

    {% if node_reply %}
    <p>
        {{ node_reply }}<br>
    </p>

   {% endif %}

  </form>

  </body>

</html>
