
{% include "base.html" %}

{% block content %}

    <div class="boxed_cmd">

    <h3>AL > {{ command }}</h3><br><br>

     {% if table_title %}
        <h3>{{ table_title }}</h3><br>
    {% endif %}

    <table border="1" class="table-cmd">
        <tr>    <!-- table header  -->
            {% for col_name in header %}
                <td>{{col_name}}</td> <!-- table cell  -->
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            {% for col_val in row %}
                <td>{{ col_val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

     </div>
{% endblock %}
