
{% extends "base.html" %}

{% block content %}

        <br> <br>


       <table border="1">
            <tr style="background-color: azure">    <!-- table row  -->
                {% for col_name in column_names %}
                    <td>{{col_name}}</td> <!-- table cell  -->
                {% endfor %}
                <td>Select</td>

            </tr>
            {% for row in rows %}
            <tr>
                {% for col_val in row.0 %}
                    <td>{{ col_val }}</td>
                {% endfor %}
                <td><label><input type="checkbox" name="get@{{ row.1 }}" value="True"/></label></td> <!-- The selection column: -->

            </tr>
            {% endfor %}

    </table>

    <br>
    <br>



{% endblock %}
