
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'css/anylog-logo.ico' %}">
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>AnyLog</title>

    <style>
        input[type=button], input[type=submit], input[type=reset]{
        background-color: lightslategray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>


  </head>
  <body>

  <form method="POST" class="post-form" >

    {% csrf_token %}
    {{ form.as_p }}

    {% load static %} <img src="{% static "css/anylog-logo.ico" %}" alt="AnyLog Network" onclick="window.location.href='https://anylog.co/'" class="floatleft"/>

    <div class="networktext">
    <text style="float: left">AnyLog Network Client</text>
    </div>


  <input type ="submit" name = "dummy" id="dummy" value="dummy" style="background:transparent; border:none; color:transparent; height:1px; width:1px" />
  <input type ="submit" name = "Config" id="Config" value="Config" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Client" id="Client" value="Client" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />


  <input type="hidden" id="Form" name="Form" value="Video">


    <br/> <br/> <br/>


    <div>

    <video width="320" height="240" controls preload="none">
      <source src="{% static  active_file %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  </div>

   <br/> <br/>  <br/>


    <table border="1">
    <tr style="background-color: azure">    <!-- table row  -->
        {% for col_name in column_names %}
            <td>{{col_name}}</td> <!-- table cell  -->
        {% endfor %}

    </tr>
    {% for row in rows %}
    <tr>
        {% for col_val in row %}
            <td>{{ col_val }}</td>
        {% endfor %}
        <td><label><input type="checkbox" name="file@{{ row.0 }}" value="True"/></label></td> <!-- The selection column: -->

    </tr>
    {% endfor %}

    </table>

  <br/>  <br/>
      <input type ="submit" name = "Watch" value="Watch"/>

      <input type ="submit" name = "Refresh" value="Refresh"/>

         &nbsp;
    <input type ="submit" name = "Keep" value="Keep"/>

        &nbsp;

    <input type ="submit" name = "Delete" value="Delete"/>

     &nbsp; &nbsp;



  </form>


  </body>

</html>

