
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'css/anylog-logo.ico' %}">
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>AnyLog</title>

    <style>
        input[type=button], input[type=submit], input[type=reset]{
        background-color: lightslategray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>


      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

      <script type='text/javascript' src='http://davidlynch.org/projects/maphilight/jquery.maphilight.js'></script>
      <script type="text/javascript">
        $(document).ready(function () {
            $('.map').maphilight({ alwaysOn: true });
            // uncomment this line for normal hover highlighting
            //$('.map').maphilight();
        });
      </script>

  </head>
  <body>

  <form method="POST" class="post-form" >

    {% csrf_token %}
    {{ form.as_p }}

    {% load static %} <img src="{% static "css/anylog-logo.ico" %}" alt="AnyLog Network" onclick="window.location.href='https://anylog.co/'" class="floatleft"/>

    <div class="networktext">
    <text style="float: left">AnyLog Network Client</text>
    </div>


      <input type="hidden" id="connect_info" name="connect_info" value="{{connect_info}}">
      <input type="hidden" id="auth_usr" name="auth_usr" value="{{auth_usr}}">
      <input type="hidden" id="auth_pass" name="auth_pass" value="{{auth_pass}}">
      <input type="hidden" id="cmd_type" name="cmd_type" value="{{cmd_type}}">
      <input type="hidden" id="timeout" name="timeout" value="{{timeout}}">
      <input type="hidden" id="dbms" name="dbms" value="{{dbms}}">
      <input type="hidden" id="table" name="table" value="{{table}}">
      <input type="hidden" id="timezone" name="timezone" value="{{timezone}}">
      <input type="hidden" id="out_format" name="out_format" value="{{out_format}}">
      <input type="hidden" id="network" name="network" value="{{network}}">
      <input type="hidden" id="destination" name="destination" value="{{destination}}">
      <input type="hidden" id="command" name="command" value="{{command}}">
      <input type="hidden" id="m_connect_info" name="m_connect_info" value="{{m_connect_info}}">

      <input type="hidden" id="blobs_selected" name="blobs_selected" value="{{blobs_selected}}">





  <input type ="submit" name = "dummy" id="dummy" value="dummy" style="background:transparent; border:none; color:transparent; height:1px; width:1px" />
  <!input type ="submit" name = "Config" id="Config" value="Config" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Setting" id="Setting" value="Setting" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Code" id="Code" value="Code" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Monitor" id="Monitor" value="Monitor" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />
  <input type ="submit" name = "Client" id="Client" value="Client" style="float: right; font-face: 'Comic Sans MS'; color: black; background-color: #f3f1ec; border: 3pt ridge lightgrey" />


  <input type="hidden" id="Form" name="Form" value="Blobs">


    <br/> <br/> <br/>


    <div>

        {% for file_info in watch %}
            {% if file_info.1 == "msg" %}
                <img src="{{ file_info.3 }}" width=320 height=240 alt="{{ file_info.0 }}">

             {% elif file_info.1 == "blob" %}
                <img src="{{ file_info.3 }}" width=320 height=240 alt="{{ file_info.0 }}">

            {% elif file_info.1 == "mp4" %}
                <video width="320" height="240" controls preload="none">
                <source src="{% static   file_info.2  %}" type="video/mp4">
                Your browser does not support the video tag.
                </video>

            {% else %}
                <!--  class="map" -->
                <!--  width=320 height=240  -->
                <img src="{% static   file_info.2  %}" width="{{ width }}" height="{{ height }}" usemap="#workmap" alt="{{ file_info.0 }}" class="{{ class }}" />
                <map name="workmap" id="workmap">
                    <!-- <area shape="rect" alt="" style="cursor: pointer;" coords="1,1,120,120" class="marker"/> -->
                    {% for function_val in file_info.4 %}
                        <!-- <For example: shape.rect, 668, 657, 674,671 -->
                        {% if function_val.0 == "shape.rect" %}
                            <area shape="rect" alt="" coords="{{ function_val.1 }}" style="cursor: pointer;"/>
                        {% endif %}
                    {% endfor %}
                </map>
            {% endif %}
        {% endfor %}


  </div>



   <br/> <br/>  <br/>


    <table border="1">
    <tr style="background-color: azure">    <!-- table row  -->
        {% for col_name in column_names %}
            <td>{{col_name}}</td> <!-- table cell  -->
        {% endfor %}

    </tr>
    {% for row in rows %}
    <tr>
        {% for col_val in row %}
            <td>{{ col_val }}</td>
        {% endfor %}
        <td><label><input type="checkbox" name="file@{{ row.0 }}" value="True"/></label></td> <!-- The selection column: -->

    </tr>
    {% endfor %}

    </table>

  <br/>  <br/>
      <input type ="submit" name = "Watch" value="Watch"/>

      <input type ="submit" name = "Refresh" value="Refresh"/>

         &nbsp;
    <input type ="submit" name = "Keep" value="Keep"/>

        &nbsp;

    <input type ="submit" name = "Delete" value="Delete"/>

     &nbsp; &nbsp;



  </form>


  </body>

</html>

