<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <style>
    {% load static %}
    <link rel="icon" href="{% static 'css/anylog-logo.ico' %}">
    <link rel='stylesheet' href="{% static 'css/default.css' %}">
  </style>
  <head>
    <h1>AnyLog Django</h1>
    <meta charset="UTF-8">
  </head>
  <body>
  <form method="POST" class="post-form">
    <br/>
    <ul>
      <li>
        <button type="submit" class="save btn btn-default">
          <a href="admin/">Admin</a>
        </button>
      </li>
      <br>
      <li>
        <button type="submit" class="save btn btn-default">
          <a href="anylog-query/">AnyLog Query</a>
        </button>
      </li>
      <br>
    </ul>
  </form>
  </body>

</html>
