
{% include "base.html" %}

{% block content %}

    <h3>AL > {{ command }}</h3><br><br>

<ul class="tree">

    {% for entry in text %}

        {% if entry.start_list %}
            <ul>
        {% endif %}

        {% if entry.end_list  %}
            <li class="last">
        {% else %}
            <li>
        {% endif %}

        {% if entry.key  %}
            {{entry.key}}
             <span class="key">
            {% if entry.value  %}
                 &nbsp : &nbsp
                {{entry.value}}         <!-- Dictionary Value  -->
            {% endif %}
            </span>
        {% elif entry.value  %}
             <span class="value">
            {{entry.value}}         <!-- List Value  -->
            </span>
        {% endif %}


        {% if entry.end_list %}
            </li>
            </ul>
        {% else %}
            {% if entry.with_children %}
            {% else %}
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}

</ul>

<br>


{% endblock %}
